.swiper-button-next,
.swiper-button-prev {
  background-position: center;
  background-size: 40px;
  background-repeat: no-repeat;
  padding: 8px 16px;
  color: #eab308;
}
.swiper-button-next {
  right: -6px;
  background-image: url(./arrow-chevron-right.svg);
}
.swiper-button-prev {
  left: -6px;
  background-image: url(./arrow-chevron-left.svg);
}
.swiper-button-next:after,
.swiper-button-prev:after {
  display: none;
}

.swiper-pagination-bullet {
  background: #eab308;
  display: none;
}
